# Linux kernel config fragment for QEMU aarch64 virt
CONFIG_SMP=y
CONFIG_VIRTIO=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_VIRTIO_CONSOLE=y
CONFIG_EXT4_FS=y
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_TMPFS=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_UNIX=y
CONFIG_INET=y
CONFIG_WIREGUARD=y
CONFIG_NET_UDP_TUNNEL=y
CONFIG_NLS_UTF8=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_CHACHA20POLY1305=y
CONFIG_CRYPTO_CURVE25519=y
